main {
  width: 100%;
  }

#top {
  display: flex;
}
aside {
  width: 200px;
  margin: 0;
}

section {
  display: flex;
}

/* section img {
  width: 200px;
  height: 200px;
  
} */

article {
  height: 300px;
  /* margin-left: 20%; */
  margin: 30px;
}

img {
  height: 300px;
  width: 300px;
}

#chart {
  height: 700px;
  width: 700px;
  margin: 0;
}